body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

h1 {
  text-align: center;
  font-size: 35px;
}

.Card {
  border: none;
  border-radius: 10%;
  margin: 0% 3%;
  padding: 10%;
  font-size: 25px;
  text-align: center;
  width: 30%;
  background-color: #99ff99;
}

.CardDirectionals {
  margin: 3%;
  display: flex;
  justify-content: center;
}

.Next, .Prev {
  background-color: rgb(141, 199, 247);
  border: none;
  border-radius: 10%;
  padding: 1%;
  margin-top: 12%;
  margin-bottom: 10%;
  font-size: 20px;
  width: 20%;
  font-family: monospace;
}

.CardControls {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.Flip, .Shuffle {
  background-color: rgb(141, 199, 247);
  border: none;
  border-radius: 10%;
  padding: 1%;
  margin: 1%;
  font-size: 20px;
  width: 20%;
  font-family: monospace;
}